.vs
app_data
bin
obj
node_modules
/packages
*.user
*.suo
*.orig
*/bin/Debug/
*/bin/Release/
*/bin/
*/App_Data/Logs/
*/App_Data/TEMP/
Sigmund.EnhancedDictionaryEditor.Test.Website/App_Plugins/SigmundEnhancedDictionaryEditor
